* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    /* transform-style: preserve-3d; */
}

.main {
   position: relative;  
   height: 100%; 
}

.main_container {
    width: 90%;
    margin: 0 auto;
    max-width: 1550px;
}